.App {
  text-align: center;
}

.logo-container {
  background-color: #FFED94;
  padding: 10px;
  border-radius: 10px;
}

.App-body {
  color: white;
  margin-top: 100px;
  min-height: calc(100vh - 100px);
  border: 1px solid salmon;
  padding: 0 20px;
}

.centered {
  width: 80%;
  margin: 0 auto;
}

.box {
  border: 1px solid salmon;
}

.attributes-container {
  display: flex;
  justify-content: space-between;
}

.selected-attributes {
  flex-basis: 80%;
  height: 100px;
}

.actions {
  width: 100px;
}

.filter-headers {
  display: flex;
  justify-content: flex-start;
  
  color: #FFED94;
  
}

.col-header {
  min-width: 100px;
  padding: 5px 10px;
  font-weight: 500;
  font-size: large;
}
